In [1]:
import os
import pandas as pd
import codecs
import string
import nltk
from nltk.tokenize import RegexpTokenizer
import itertools

In [2]:
loc = '/home/ankan/Projects/RNN-LSTM/enron1'
filelist = os.listdir(loc)

In [3]:
data = []
label = []
for d in filelist:
    dir_path = os.path.join(loc,d)
    if not os.path.isfile(dir_path):
        files = [f for f in os.listdir(dir_path)]
        for f in files:
            file_path = os.path.join(loc,d,f)
            with codecs.open(file_path, "r",encoding='utf-8', errors='ignore') as fdata:
                data.append(fdata.read())
                label.append(d)
    else:
        continue
df = pd.DataFrame({'email': data,'label': label})

In [4]:
df.head(10)

                                               email label
0  Subject: best prices for impotence drugs\r\non...  spam
1  Subject: can we go over guillermo ' s budget t...  spam
2           Subject: let the euro make you money\r\n  spam
3  Subject: your investor communiqup 9\r\nget abz...  spam
4  Subject: hp pavilion v 72 17 " crt monitor w /...  spam
5  Subject: paliourg , best meds\r\nwakey wakey !...  spam
6  Subject: hi paliourg get all pills . everythin...  spam
7                              Subject: re [ 8 ]\r\n  spam
8  Subject: vicodin , via - gra are che . ap here...  spam
9  Subject: full stock of all your p # harmacy ne...  spam

In [5]:
df.tail(10)

                                                  email label
5162  Subject: enron nominations for november 8 , 20...   ham
5163  Subject: megan jones\r\nsteve / daren ,\r\ni i...   ham
5164  Subject: meter variances - ua 4 clean - up\r\n...   ham
5165  Subject: hpl nom for may 3 , 2001\r\n( see att...   ham
5166  Subject: cornhusker\r\ni have entered deals in...   ham
5167  Subject: hpl nom for april 6 , 2001\r\n( see a...   ham
5168  Subject: 5 th noms\r\n- - - - - - - - - - - - ...   ham
5169  Subject: nomination - eastrans - - 4 / 4 and 4...   ham
5170  Subject: eastrans - lst of month nomination - ...   ham
5171  Subject: mobil - beaumont - fyi\r\nfyi - i ' v...   ham

In [6]:
len(df)

5172

In [7]:
tokenizer = RegexpTokenizer(r'\w+')
processed_emails = []
for index, row in df.iterrows():
    email = row['email'].lower()
    email = tokenizer.tokenize(email)
    processed_emails.append(email)
df_processed_emails = pd.DataFrame({'processed_emails': processed_emails})
list_of_all_words = list(itertools.chain.from_iterable(processed_emails))
vocabulary = sorted(list(set(list_of_all_words)))
df_vocabulary = pd.DataFrame({'vocabulary': vocabulary})

In [8]:
df_processed_emails.head(10)

                                    processed_emails
0  [subject, best, prices, for, impotence, drugs,...
1  [subject, can, we, go, over, guillermo, s, bud...
2        [subject, let, the, euro, make, you, money]
3  [subject, your, investor, communiqup, 9, get, ...
4  [subject, hp, pavilion, v, 72, 17, crt, monito...
5  [subject, paliourg, best, meds, wakey, wakey, ...
6  [subject, hi, paliourg, get, all, pills, every...
7                                   [subject, re, 8]
8  [subject, vicodin, via, gra, are, che, ap, her...
9  [subject, full, stock, of, all, your, p, harma...

In [9]:
df = pd.concat([df, df_processed_emails], axis=1)

In [10]:
df.head(5)

,email,label,processed_emails
0,Subject: best prices for impotence drugs\r\non...,spam,"[subject, best, prices, for, impotence, drugs,..."
1,Subject: can we go over guillermo ' s budget t...,spam,"[subject, can, we, go, over, guillermo, s, bud..."
2,Subject: let the euro make you money\r\n,spam,"[subject, let, the, euro, make, you, money]"
3,Subject: your investor communiqup 9\r\nget abz...,spam,"[subject, your, investor, communiqup, 9, get, ..."
4,"Subject: hp pavilion v 72 17 "" crt monitor w /...",spam,"[subject, hp, pavilion, v, 72, 17, crt, monito..."

In [11]:
df_vocabulary.head(10)

        vocabulary
0                0
1               00
2              000
3             0000
4           000000
5  000000000002858
6  000000000049773
7           000080
8           000099
9             0001

In [12]:
df_vocabulary.tail(10)

      vocabulary
50490      zynve
50491   zyqtaqlt
50492     zyrtec
50493    zyyqywp
50494   zzezrjok
50495        zzn
50496        zzo
50497      zzocb
50498       zzso
50499      zzsyt